.my-pagination /deep/ .ngx-pagination .current {
    background:black;
    text-align: center;
  }

  .full-width
{
    width: 20%;
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: -1.25em;
    padding-right: 2px;
    padding-left: 2px;
}