/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-center
{
    text-align: center;
}
.ml20
{
    margin-left: 20px;
}
.mr20
{
    margin-right: 20px;
}
.mt20
{
    margin-top: 20px;
}
.mb10
{
    margin-bottom: 10px;
}

.ml10
{
    margin-left: 10px;
}
.mr10
{
    margin-right: 10px;
}
.mt10
{
    margin-top:10px;
}
.mb10
{
    margin-bottom: 10px;
}

.card, .btn {
    border-radius: unset;
}

.field
{
    height: 0px;
    padding-top: 19px;
    padding-bottom: 9px;
}




  @media print{
    /* invert the display (show/hide) properties of the main */
    /* aplication component and the printing component       */
    body{
        background: red;
        scale: 95;
        margin-left: 2px;
    }



    app-ledgers
{
    display: block;
}

app-sidenav
{
    display: none;
}

app-navbar
{
    display: none;
}
 
#print-section
{
    display: block;
}

#search-section
{
    display: none;
}

#print-button
{
    display: none;
}
    
  }
